# Auto detect text files and enforce line endings
* text=auto eol=lf

# Exclude original game docs, ROM disassemblies (C/Assembly), and third-party assets from GitHub Linguist language statistics
game/pacman/doc/** linguist-vendored
game/pacman/doc/** linguist-documentation
game/pacman/pacman.js linguist-vendored
game/pacman/package-lock.json linguist-generated
game/pacman/promo/** linguist-vendored
game/pacman/mapgen/** linguist-vendored
game/pacman/randturn/** linguist-vendored
checkpoints/** linguist-vendored
