# Auto detect text files and enforce line endings
* text=auto eol=lf

# Overrides for GitHub Linguist language statistics
*.asm linguist-vendored=true linguist-detectable=false
*.c linguist-vendored=true linguist-detectable=false
game/pacman/doc/** linguist-vendored=true linguist-documentation=true linguist-detectable=false
game/pacman/pacman.js linguist-vendored=true linguist-detectable=false
game/pacman/package-lock.json linguist-generated=true
game/pacman/promo/** linguist-vendored=true linguist-detectable=false
game/pacman/mapgen/** linguist-vendored=true linguist-detectable=false
game/pacman/randturn/** linguist-vendored=true linguist-detectable=false
checkpoints/** linguist-vendored=true linguist-detectable=false
